.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25em;
    margin-bottom: 20px;
  }
}
