.about {
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 5%;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25em;
    margin-bottom: 20px;
  }
}
