.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  width: 60%;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.image-div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 40%;
  background-image: url('/src/assets/ProPic.png');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset,
    rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset,
    rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset,
    rgba(0, 0, 0, 0.06) 0 2px 1px,
    rgba(0, 0, 0, 0.09) 0 4px 2px,
    rgba(0, 0, 0, 0.09) 0 8px 4px,
    rgba(0, 0, 0, 0.09) 0 16px 8px,
    rgba(19, 16, 16, 0.09) 0 32px 16px;
  aspect-ratio: 1 / 1;
}

.intro {
  width: 50%;
  text-align: center;

  h1 {
    font-size: 2rem;
  }

  h2 {
    max-width: min-content;
    font-size: 1.75rem;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 1rem auto;
    letter-spacing: 0.1em;
    animation: typing 4s steps(40, end), blink-cursor 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes blink-cursor {
    from,
    to {
      border-color: transparent;
    }

    50% {
      border-color: white;
    }
  }

  p {
    font-size: 1.25rem;
  }

  .projects-btn {
    display: inline-block;
    line-height: 1.5;
    color: #1a1a1d;
    text-decoration: none;
    background-color: #c3073f;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
  }
}

.my-stack {
  flex: 1;
  text-align: center;
  display: flex;
  // align-items: center;
  margin-top: 4rem;

  .stack-div {
    flex: 1;
  }

  .stack-header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .stack-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .stack-item {
    list-style: none;
    margin: 0.5rem 0.75rem;
  }
}

@media (max-width: 1440px) {
  .my-stack {
    flex: 1;
    text-align: center;
    display: flex;
    margin-top: 2rem;

    .stack-header {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    width: 60%;
    margin: 4rem 0;
  }

  .my-stack {
    margin-top: 0;

    .stack-header {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    margin: 2.5rem 0;
  }

  .intro {
    padding-right: 1rem;

    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0.75rem auto;
    }

    p {
      font-size: 1.1rem;
    }

    .projects-btn {
      margin-top: 1.25rem;
    }
  }

  .my-stack {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    .stack-header {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }

    .stack-item {
      margin: 0.25rem 0.5rem;
    }
  }
}
