.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.projects-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 2rem;
  }

  a {
    color: #c3073f;
    text-decoration: none;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

@media (max-width: 1440px) {
  .projects-container {
    padding: 2%;
  }

  .projects-header {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .projects-container {
    padding: 2%;
    margin-top: 1rem;
  }

  .projects-header {
    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}
