.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.projects-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    color: #c3073f;
    text-decoration: none;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}
