@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
nav {
  min-height: 5rem;
  background-color: #000;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-icon {
  display: none;
}

.menu-icon svg {
  margin-bottom: -4px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 0 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-icon {
  margin-left: 0.25rem;
}

@media (max-width: 1440px) {
  nav {
    font-size: 1.2rem;
  }
  .nav-item {
    margin: 0 0.8rem;
  }
}

@media (max-width: 1024px) {
  nav {
    min-height: 4rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 3rem;
  }
  .menu-icon {
    display: block;
    margin: 1rem auto 1rem 1rem;
    font-size: 1.5rem;
    z-index: 1;
  }
  .nav-links {
    display: none;
  }
  .nav-links-active {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    font-size: 1.25rem;
  }
  .nav-item {
    margin: 0.75rem 0;
  }
}

footer {
  min-height: 6rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-item {
  list-style: none;
  margin: 0 0.5rem;
}

.footer-link {
  color: white;
}

.footer-icon {
  font-size: 1.15rem;
}

.copyright {
  color: #727272;
  text-align: center;
  margin-top: 0.5rem;
}

@media (max-width: 1440px) {
  footer {
    font-size: 0.95rem;
  }
  .footer-icon {
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
  footer {
    min-height: 5rem;
    font-size: 0.85rem;
  }
  .footer-icon {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  footer {
    min-height: 4rem;
    font-size: 0.85rem;
  }
  .footer-icon {
    font-size: 1rem;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 60%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}

.image-div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image {
  width: 40%;
  background-image: url("/src/assets/ProPic.png");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(19, 16, 16, 0.09) 0 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(19, 16, 16, 0.09) 0 32px 16px;
  aspect-ratio: 1 / 1;
}

.intro {
  width: 50%;
  text-align: center;
}

.intro h1 {
  font-size: 2rem;
}

.intro h2 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  font-size: 1.75rem;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 1rem auto;
  letter-spacing: 0.1em;
  -webkit-animation: typing 4s steps(40, end), blink-cursor 0.75s step-end infinite;
          animation: typing 4s steps(40, end), blink-cursor 0.75s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.intro p {
  font-size: 1.25rem;
}

.intro .projects-btn {
  display: inline-block;
  line-height: 1.5;
  color: #1a1a1d;
  text-decoration: none;
  background-color: #c3073f;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
}

.my-stack {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

.my-stack .stack-div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.my-stack .stack-header {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-stack .stack-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-stack .stack-item {
  list-style: none;
  margin: 0.5rem 0.75rem;
}

@media (max-width: 1440px) {
  .my-stack {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
  }
  .my-stack .stack-header {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 60%;
    margin: 4rem 0;
  }
  .my-stack {
    margin-top: 0;
  }
  .my-stack .stack-header {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2.5rem 0;
  }
  .image-div {
    margin-bottom: 1rem;
  }
  .intro {
    width: 100%;
  }
  .intro h1 {
    font-size: 1.5rem;
  }
  .intro h2 {
    font-size: 1.25rem;
    margin: 0.75rem auto;
  }
  .intro p {
    width: 80%;
    font-size: 1rem;
    margin: auto;
  }
  .intro .projects-btn {
    margin-top: 1.25rem;
  }
  .my-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .my-stack .stack-header {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  .my-stack .stack-item {
    margin: 0.25rem 0.5rem;
  }
}

.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-header h1 {
  font-size: 2rem;
}

.projects-header p {
  font-size: 1.5rem;
}

.projects-header a {
  color: #c3073f;
  text-decoration: none;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3rem;
}

@media (max-width: 1024px) {
  .projects-header h1 {
    font-size: 1.5rem;
  }
  .projects-header p {
    font-size: 1.15rem;
  }
}

@media (max-width: 768px) {
  .projects-header {
    margin-top: 1rem;
  }
  .projects-header h1 {
    font-size: 1.5rem;
  }
  .projects-header p {
    font-size: 1.25rem;
  }
}

.project {
  width: 30%;
  margin-bottom: 4.75rem;
}

.screenshot {
  max-width: 100%;
}

.project-info {
  height: 100%;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.info p {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn {
  line-height: 1.5;
  color: #1a1a1d;
  text-decoration: none;
  background-color: #c3073f;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

@media (max-width: 1024px) {
  .project-info {
    max-height: 200px;
    margin-bottom: 1rem;
  }
  .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .info h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .info p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .btn {
    font-size: 0.9rem;
    border-radius: 0.25rem;
  }
}

@media (max-width: 768px) {
  .project {
    width: 85%;
  }
  .project-info {
    max-height: 175px;
    margin-bottom: 0;
  }
  .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .info h2 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .info p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 50%;
  text-align: center;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 1440px) {
  .content {
    width: 70%;
  }
  .content h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .content p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .content h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
  .content p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  .content {
    width: 90%;
    padding-top: 1.85rem;
  }
  .content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .content p {
    font-size: 1.05rem;
    margin-bottom: 1rem;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-header {
  width: 45%;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.contact-header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-header p {
  font-size: 1.5rem;
}

form {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  font-size: 1.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  max-height: 250px;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 0.75rem;
}

button {
  display: inline-block;
  line-height: 1.5;
  color: #1a1a1d;
  text-decoration: none;
  background-color: #c3073f;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

.success-message {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.75rem;
}

@media (max-width: 1024px) {
  .contact-header {
    width: 50%;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .contact-header h1 {
    font-size: 1.75rem;
  }
  .contact-header p {
    font-size: 1.25rem;
  }
  form {
    width: 45%;
  }
  .success-message {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .contact-header {
    width: 80%;
    line-height: 1.5rem;
  }
  .contact-header h1 {
    font-size: 1.5rem;
  }
  .contact-header p {
    font-size: 1.15rem;
  }
  form {
    width: 80%;
  }
  input {
    font-size: 1.1rem;
  }
  textarea {
    font-size: 1.1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  background-color: #1a1a1d;
  color: #dcdde1;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=index.css.map */