@import './partials/navbar';
@import './partials/footer';
@import './partials/home';
@import './partials/projects';
@import './partials/project';
@import './partials/about';
@import './partials/contact';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$main-font: 'Roboto', sans-serif;

$dark-gray: #1a1a1d;
$gray: #4e4e50;
$dark-red: #6f2232;
$pink: #950740;
$bright-red: #c3073f;
$white: #dcdde1;

* {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  // outline: 1px dotted gray;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  background-color: $dark-gray;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  justify-content: space-between;
  min-height: 100%;
}

main {
  flex-grow: 1;
}
